<div class="container mt-4">
    <h1>Add New Student</h1>
</div>

<div class="container mt-4">
    <form method="post">

        <div class="mb-4">
            <label class="form-label">First name</label>
            <input type="text" class="form-control" name="firstName" />
        </div>

        <div class="mb-4">
            <label class="form-label">Last name</label>
            <input type="text" class="form-control" name="lastName" />
        </div>

        <div class="mb-4">
            <label class="form-label">Age</label>
            <input type="text" class="form-control" name="age" />
        </div>

        <div class="mb-4">
            <label class="form-label">Grade</label>
            <input type="text" class="form-control" name="grade" />
        </div>

        <div class="mb-4">
            <button type="submit" class="btn btn-dark">Submit</button>
        </div>

    </form>
</div>

